.image-label {
    width: 50%;
    bottom: 1em;
    padding: 1em;
    background: hsla(0, 0%, 0%, 0.8);
    color: #fff;
    font-family: sans-serif;
    font-size: 1.25em;
  }
  
  [slot="image-1"] .image-label {
    left: 1em;
  }
  
  [slot="image-2"] .image-label {
    right: 1em;
  }


  :host {
    --exposure: 50%;
    --thumb-background-color: hsla(0, 0%, 100%, 0.9);
    --thumb-size: clamp(3em, 10vmin, 5em);
    --thumb-radius: 0%;
    --thumb-border-color: hsla(0, 0%, 0%, 0.9);
    --thumb-border-size: 2px;
    --focus-width: var(--thumb-border-size);
    --focus-color: hsl(200, 100%, 80%);
    --divider-width: 2px;
    --divider-color: hsla(0, 0%, 0%, 0.9);
  }


input {
    cursor: col-resize;
    margin: 0 calc(var(--thumb-size) / -2);
    width: calc(10% + var(--thumb-size));
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
}

:host {
    exposure: 50%;
    --thumb-background-image: url(data:image/svg+xml;utf8,<svg viewbox="0 0 60 60" width="60" height="60" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M20 20 L10 30 L20 40"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M40 20 L50 30 L40 40"/></svg>);
    --thumb-size: clamp(0.5sem, 10vmin, 5em);
    /* --thumb-radius: 50%; */
    --thumb-border-color: hsla(0, 0%, 0%, 0.9);
    --thumb-border-size: 0.5px;
    --focus-width: 0.2 * var(--thumb-border-size);
    --divider-width: 1px;
    --divider-color: hsla(0, 0%, 0%, 0.9);
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    position: relative;
}